<div class="well bs-component ">
	<div class="col-md-12 text-right">
		<div class="col-md-3 form-group">
      <!--label for="select111" class="col-md-4 control-label">Select</label>
      <div class="col-md-5">
        <select ng-model ="paginationOps.itemsPerPage" id="select111" class="form-control">
          <option>5</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
          <option>25</option>
        </select>
      </div-->
    </div>
		<div class="col-md-4">
			<pagination  
				class="pagination-sm"
				max-size="10" 
				boundary-links="true" 
				items-per-page="paginationOps.itemsPerPage" 
				total-items="tinyList.length" 
				ng-model="paginationOps.currentPage"
				ng-change="paginationOps.currentPage*paginationOps.itemsPerPage">
			</pagination>
		</div>
	</div>
	<div class="col-md-12">
	</div>
	<h3>Tiny URL List</h3>
	<div class="row">
    	<div class="col-md-12">
    		<table class="table table-hover ">
		      <thead>
		        <tr>
		          <th>#</th>
		          <th>ORIGINAL URL</th>
		          <th>TINY URL</th>
		          <!--th>VISITED</th-->
		          <th>ACTION</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="item in tinyList | startFrom:(paginationOps.currentPage-1)*paginationOps.itemsPerPage | limitTo: paginationOps.itemsPerPage">
		          <td>{{$index+1}}</td>
		          <td>
		          	<input 	type="text" ng-show="item.edit" class="form-control" ng-model="item.originalUrl" />
		          	<span ng-hide="item.edit">{{item.originalUrl}}</span>
		          </td>
		          <td>
		          	<input type="text" ng-show="item.edit" class="form-control" ng-model="item.tinyUrl" />
		          	<a href= "{{item.completeUrl}}">{{item.completeUrl}}</a>
		          	<!--span ng-hide="item.edit">{{item.tinyUrl}}</span-->
		          </td>
		          <!--td>
		          	<span ng-hide="item.edit">{{item.visited}}</span>
		          </td-->
		          <td>
		          	<!--a 	href="javascript:void(0);" class="btn-link" 
		          			ng-hide="item.edit || item.delete"
		          			ng-click="item.edit = true">
		          		<i class="material-icons">mode_edit</i>
		          	</a-->
		          	<!--span ng-show = "item.edit">
		          		<a href="javascript:void(0);" ng-click="updateUrl(item._id, item.originalUrl, item.tinyUrl)" class="btn-link"><i class="material-icons">save</i></a>
	              		<a href="javascript:void(0);" class="btn-link" ng-click="item.edit = false">
	              			<i class="material-icons">restore</i>
	              		</a>
		          	</span-->
		          	<span> <!--ng-hide = "item.edit"-->
		          		<a 	href="javascript:void(0);" class="btn-link" 
		          				ng-click = "deleteUrl(item._id, item.originalUrl, item.tinyUrl)"><i class="material-icons">delete</i></a>
		          	</span>
		          	<!--span>
			          	<a 	href="javascript:void(0);" class="btn-link" 
			          				ng-click = "getUrlDetails(item._id, item.originalUrl, item.tinyUrl)"><i class="material-icons">search</i></a>
		          	</span-->
		          </td>
		        </tr>
		      </tbody>
    		</table>
    	</div>
    </div>	
</div>
